{% extends "base.html.twig" %}

{% block content %}
    <h1>Enquetes <a href="{{path('survey_add')}}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Novo</a></h1>
    {% if surveys.count > 0 %}
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th{% if surveys.isSorted('s.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(surveys, 'Título', 's.title') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for survey in surveys %}
                    <tr>
                        <td>{{ survey.title }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(surveys) }}
        </div>
    {% else %}
        <div class="alert alert-info">Nenhuma enquete cadastrada no momento, <a href="{{ path('survey_add') }}">crie uma agora</a>!</div>
    {% endif %}


{% endblock %}